#!/bin/bash

#=Default=variables
MNT_DEVICE=/dev/mmcblk0
MNT_ROOT=/mnt/raspbernetes/root
MNT_BOOT=/mnt/raspbernetes/boot
OUTPUT_PATH=output

#=Node=specific=configuration
KUBE_NODE_INTERFACE=eth0
KUBE_NODE_WIFI_SSID=
KUBE_NODE_WIFI_PASSWORD=
KUBE_NODE_HOSTNAME=
KUBE_NODE_IP=
KUBE_NODE_GATEWAY=
KUBE_NODE_TIMEZONE=America/Indiana/Indianapolis
KUBE_NODE_TYPE=master
KUBE_NODE_USER=pi
KUBE_NODE_USER_HOME="/home/${KUBE_NODE_USER}"

#=Cluster=wide=configuration
KUBE_MASTER_VIP=192.168.2.10
KUBE_MASTER_IP_01=192.168.2.11
KUBE_MASTER_IP_02=192.168.2.12
KUBE_MASTER_IP_03=192.168.2.13

#=Raspbian=image=configuration
RASPBIAN_VERSION=raspbian_lite-2019-09-30
RASPBIAN_IMAGE_VERSION=2019-09-26-raspbian-buster-lite
RASPBIAN_URL="https://downloads.raspberrypi.org/raspbian_lite/images/${RASPBIAN_VERSION}/${RASPBIAN_IMAGE_VERSION}.zip"